In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Flight_delay_Final.csv')

In [3]:
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [5]:
# Col_Drop = ["Unnamed: 27"]
# df = df.drop(columns = Col_Drop, axis = 1)

In [6]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [ ]:
# CL_DROP = ['OP_CARRIER_FL_NUM', 'CRS_DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_ARR_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'Unnamed: 27', 'CARRIER_DELAY','LATE_AIRCRAFT_DELAY','CANCELLATION_CODE']
# df = df.drop(columns = CL_DROP, axis = 1)

In [ ]:
df.head()

In [ ]:
Nan_count = df['WEATHER_DELAY'].isna().sum()
Nan_count_NAS = df['NAS_DELAY'].isna().sum()
Nan_count_SEC = df['SECURITY_DELAY'].isna().sum()

In [ ]:
print(Nan_count,Nan_count_NAS,Nan_count_SEC)

In [ ]:
csv_row, csv_columns = df.shape

In [ ]:
print(csv_row,csv_columns)

In [9]:
import pandas as pd
import random

# Load the CSV file into a pandas DataFrame
input_csv_path = './Flight_delay_Final.csv'  # Replace with the path to your CSV file
output_csv_path = './output_dataset.csv'  # Replace with the desired output path

df = pd.read_csv(input_csv_path)

# Calculate the number of rows to keep (30% of the original)
num_rows_to_keep = int(0.15 * len(df))

# Get a random sample of rows to keep
rows_to_keep = random.sample(range(len(df)), num_rows_to_keep)

# Create a new DataFrame with only the selected rows
df_filtered = df.iloc[rows_to_keep]

# Save the filtered DataFrame to a new CSV file
df_filtered.to_csv(output_csv_path, index=False)

print(f"{num_rows_to_keep} rows kept, {len(df) - num_rows_to_keep} rows deleted.")

96910 rows kept, 387641 rows deleted.

<h3> Data Cleaning and preprocessing Block </h3>