In [7]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./2018.csv')

In [3]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
CL_DROP = ['OP_CARRIER_FL_NUM', 'CRS_DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_ARR_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'Unnamed: 27', 'CARRIER_DELAY','LATE_AIRCRAFT_DELAY','CANCELLATION_CODE']
df = df.drop(columns = CL_DROP, axis = 1)

In [5]:
df.head()

,FL_DATE,OP_CARRIER,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,AIR_TIME,DISTANCE,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY
0,2018-01-01,UA,EWR,DEN,1512.0,-5.0,15.0,10.0,1722.0,-23.0,0.0,0.0,225.0,1605.0,NaN,NaN,NaN
1,2018-01-01,UA,LAS,SFO,1107.0,-8.0,11.0,7.0,1230.0,-24.0,0.0,0.0,65.0,414.0,NaN,NaN,NaN
2,2018-01-01,UA,SNA,DEN,1330.0,-5.0,15.0,5.0,1636.0,-13.0,0.0,0.0,106.0,846.0,NaN,NaN,NaN
3,2018-01-01,UA,RSW,ORD,1552.0,6.0,19.0,6.0,1754.0,-2.0,0.0,0.0,157.0,1120.0,NaN,NaN,NaN
4,2018-01-01,UA,ORD,ALB,650.0,20.0,13.0,10.0,936.0,14.0,0.0,0.0,83.0,723.0,NaN,NaN,NaN

In [14]:
Nan_count = df['WEATHER_DELAY'].isna().sum()
Nan_count_NAS = df['NAS_DELAY'].isna().sum()
Nan_count_SEC = df['SECURITY_DELAY'].isna().sum()

In [15]:
print(Nan_count,Nan_count_NAS,Nan_count_SEC)

5860736 5860736 5860736

In [11]:
csv_row, csv_columns = df.shape

In [12]:
print(csv_row,csv_columns)

7213446 17

In [17]:
import pandas as pd
import random

# Load the CSV file into a pandas DataFrame
input_csv_path = './2018.csv'  # Replace with the path to your CSV file
output_csv_path = './output_dataset.csv'  # Replace with the desired output path

df = pd.read_csv(input_csv_path)

# Calculate the number of rows to keep (30% of the original)
num_rows_to_keep = int(0.05 * len(df))

# Get a random sample of rows to keep
rows_to_keep = random.sample(range(len(df)), num_rows_to_keep)

# Create a new DataFrame with only the selected rows
df_filtered = df.iloc[rows_to_keep]

# Save the filtered DataFrame to a new CSV file
df_filtered.to_csv(output_csv_path, index=False)

print(f"{num_rows_to_keep} rows kept, {len(df) - num_rows_to_keep} rows deleted.")

2164033 rows kept, 5049413 rows deleted.